.Nome{
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;    
  text-align: center;
}
body {
  background-color: rgb(252, 252, 252);
}
li:hover {
  background-color: rgb(194, 164, 221);
  color: rgb(255, 255, 255);
}
#infos{
  background-color: rgb(179, 165, 192);
  color: rgb(46, 46, 46);
}
#infos img{
  position: absolute;
  left: 43%;
  border-radius: 50%;
}
#textos{
  position: absolute;
  top: 300px;
}